.left {
  background-color: var(--lightblue);
  min-height: 100vh;
}

#searchPlace {
  background-color: #fff;
  border: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.102);
  padding: 0.5rem 1rem;
  width: 80vw;
  max-width: 30rem;
  border-radius: 0.8rem;
}

#searchPlace input {
  border: 0;
  outline: none;
  width: 100%;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

.left .weekly-list {
  font-size: 1.1rem;
  color: rgb(49, 49, 49);
}
